.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

div.done {
  display: none;
}

.sideflex {
  display: flex;
  align-items: center;
}

.permissions {
  display: flex;
  flex-direction: column;
}


button {
  width: 140px;
  height: 45px;
  margin: 7px 0px 0px 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #4399b0;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #16c967;
  box-shadow: 0px 5px 7px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-4px);
}

img.done {
  height: 20vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: ; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.center {
  margin: auto;
  /* border: 3px solid green; */
  padding: 10px;
}

.App-header * {
  margin-left: auto;
  margin-right: auto
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}